# Temporary CMake ExternalProject extraction directories:
/ex-

# The default install directory:
/prefix/

# The user configuration file:
/config.local

# Different dependencies:
/boost/
/cmake/
/cryptopp/
/gmp/
/mpfr/
/hdf5/

# Different subprojects:
/cheaders/
/cmake-helpers/
/cxxheaders/
/data-store-api/
/emulator/
/exprtk/
/facility_datastoremanager/
/facility_loghard/
/facility-module-apis/
/facility_executionprofiler/
/libaccesscontrolprocessfacility/
/libas/
/libconfiguration/
/libconsensusservice/
/libdatastoremanager/
/libdbcommon/
/libemulator_protocols/
/libexecutable/
/libexecutionmodelevaluator/
/libexecutionprofiler/
/libfmodapi/
/libfmodapicxx/
/libicontroller/
/libmodapi/
/libmodapicxx/
/libprocessfacility/
/librandom/
/libsoftfloat/
/libsoftfloat_math/
/libsortnetwork/
/libvm/
/libvmcxx/
/libvmi/
/loghard/
/mod_aby_emu/
/mod_algorithms/
/mod_executionprofiler/
/mod_keydb/
/mod_shared3p_emu/
/mod_spdz_fresco_emu/
/mod_tabledb/
/mod_tabledb_hdf5/
/module-apis/
/pdkheaders/
/sbdump/
/secrec/
/secrec-stdlib/
/vm_m4/

# Different temporary build directories (user-specific):
/b/
/build/
/qtcreator-build/
